.auth {
  max-width: 400px;
  max-height: 100vh;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #90e0ef;
  text-align: center;
}

.toggle-button{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.auth h1 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  width: 100%; /* Set width to 100% for all screen sizes */
  padding: 8px;
  box-sizing: border-box;
}

/* Add media query for mobile devices */
@media (max-width: 768px) {
  .input-group input,
  .input-group select {
    width: calc(100% - 10%); /* Calculate width to leave space for padding */
  }
}


.box {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100vh;
  width: 30%;
}

.toggle-row,
.form-row {
  width: 100%; /* Ensure full width */
  margin-bottom: 20px; /* Add space between rows */
}
.form {
  margin-top: 10px;
}