.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .not-found-title {
    font-size: 10rem;
    font-weight: bold;
  }
  
  .not-found-message {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  