html, body, .main, .content-row, .sidebar-col, .content-col {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-row {
    flex: 1;
    display: flex;
    height: 100vh;
}

.sidebar-col, .content-col {
    height: 100%;
}
.main {
    /* overflow-x: hidden; */
}

/* .sidebar-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden; 
  overflow-x: hidden;
  width: 8%; 
  transition: width 0.3s;
}

.sidebar-col .expanded {
  width: 23%; 
}

.content-col {
  flex: 1;
  transition: flex 0.3s; 
  overflow-y: auto !important;
  background-color: #f8f9fa;
  padding: 20px;
  overflow-x: hidden;
  height: 100%;
}

.content-col.collapsed {
  flex: 1 1 calc(100% - 8%); 
}

.content-col.expanded {
  flex: 1 1 calc(100% - 23%); 
} */

.sidebar-col {
    background-color: #343a40;
    color: #fff;
    height: 100%;
}

.content-col {
    overflow-y: auto !important;
    background-color: #f8f9fa;
    padding: 20px;
    overflow-x: hidden;
    height: 100%;
  }
  
  
  .quiz-question {
    margin-bottom: 20px;
    margin-left: 15px; 
    margin-right: 15px;
  }
  .quiz-card {
    margin-bottom: 20px;
  }
  
  .quiz-card .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .quiz-card .card-body {
    padding: 20px;
  }
  
  .quiz-option {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;

    background-color: beige;
    color: black;
    border: none;
    border-radius: 5px;
  }
  
  .quiz-option.select {
    background-color: slategray;
    color:white;
  }
  .quiz-option.correct {
    background-color: green;
  }
  
  .quiz-option.wrong {
    background-color: red;
  }
  