/******************************** Header ***********************************/
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Theme Style */
:root{
    --color-1: #97dffcff;
    --color-2: #858ae3ff;
    --color-3: #613dc1ff;
    --color-4: #4e148cff;
    --color-5: #2c0735ff;
}
/******************************************************************/

/******************************** Main ****************************/
.pricing-container {
    padding: 40px;
}

.pricing-heading {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #000;
    margin-bottom: 50px;
}

.pricing-box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

.box {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.pricing-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.price {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
    padding: 20px 0;
}

.price span {
    font-weight: 500;
}

.price h3 {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
}

.price .price-month {
    align-self: flex-end;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
}

.pricing-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.pricing-details li {
    margin-left: 20px;
    font-size: 16px;
    color: #000;
}

.select-btn {
    background-color: #ff5f46;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.select-btn:hover {
    background-color: #ff3415;
}


@media screen and (max-width: 768px) {
    .pricing-container {
        padding: 20px;
    }
    .pricing-box{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    
}