/* Plan.css */
.pricing-plan-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  background-color: #f7f7f7;
  border: solid 2px #0069d9;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  transition: all 0.3s ease-in;
}

.pricing-plan-container:hover {
  transform: scale(1.05);
}

.pricing-plan-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #0069d9;
  margin: 10px 0;
}

.pricing-price {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
}

.pricing-feature-container {
  padding-left: 20px;
}

.pricing-feature {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.pricing-checkmark {
  margin-right: 10px;
}

.pricing-btn-container {
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-btn {
  padding: 8px 16px;
  color: #fff;
  background-color: #0069d9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pricing-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .pricing-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing-plan-container {
    width: 80%;
  }
}

/* Pricing.css */

.pricing-title {
  font-size: 2.5em;
  color: var(--secondary);
  margin-bottom: 100px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.pricing-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 300px;
}

.pricing-plan-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  background-color: var(--background);
  border: solid 2px var(--primary);
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  transition: all 0.3s ease-in;
  scroll-behavior: auto;
}

.pricing-plan-container:hover {
  transform: scale(1.3);
}

.pricing-plan-title {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: bold;
  text-align: center;
  color: var(--primary);
  margin: 10px 0 10px;
}

.pricing-feature-container {
  margin-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.pricing-feature {
  display: flex;
  align-items: center;
}

.pricing-btn-container {
  width: 100%;
  margin: 5px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-btn {
  margin-top: 6px;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 5px;
}

.pricing-btn:hover {
  color: var(--secondary);
  background-color: var(--primary);
}

@media (max-width: 768px) {
  .pricing-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .pricing-plan-container {
    width: 80%;
    max-width: none;
  }
}
